<main class="structure">
  <section class="padding">
    <div class="moveToRight">
      <a href="#portfolio">
        <img
          class="icon-color-theme"
          src="assets/icons/arrow-down-right.png"
          alt="Arrow"
        />
      </a>
    </div>

    <div class="headline">
      <h2 id="portfolio">Portfolio</h2>
      <p>{{ 'portfolio.description-one' | translate }}</p>
      <p>{{ 'portfolio.description-two' | translate }}</p>
    </div>

    <section id="projects">
      @for (
        project of projects;
        track project.title;
        let i = $index;
        let count = $count;
        let odd = $odd
      ) {
        <div class="project" [class.reversed]="odd">
          <span class="project-number">{{ formatNumber(i + 1) }}/{{ formatNumber(count) }}</span>

          <div class="project-immage-wrapper">
            <img class="arrow-icon" src="assets/icons/arrow-filled.png" alt="Arrow" />
            <img class="project-picture" [src]="project.imageSrc" [alt]="project.imageAlt" />
          </div>

          <div class="project-content-wrapper">
            <div class="project-details">
              <h3 class="project-title">{{ project.title }}</h3>
              <p class="project-tech">{{ project.tech }}</p>
              <p>
                {{ project.descriptionKey | translate }}
              </p>
              <div class="project-buttons">
                <a class="button-two" [href]="project.githubUrl" target="_blank">GitHub</a>
                <a class="button-two" [href]="project.liveUrl" target="_blank">Live</a>
              </div>
            </div>
          </div>
        </div>
      }
    </section>
  </section>
</main>
