@use '../../../../public/assets/styles/all-styles.scss' as all;

#portfolio {
  scroll-margin-top: 15dvh;
}

.moveToRight {
  animation-name: moveToRight;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes moveToRight {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(25px, 25px);
  }
}

.padding {
  width: 100%;
  height: fit-content;
  gap: 48px;
  max-width: 1440px;
  padding-bottom: 48px;
  overflow: hidden;
}

.headline {
  width: 100%;
  height: 25dvh;
  @include all.flexi($fd: column, $jc: center);
  text-align: center;
  margin-bottom: 48px;
  margin-top: 16px;

  h2 {
    margin-bottom: 16px;
  }
}

#projects {
  .project {
    aspect-ratio: 16 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 40px;
    margin-bottom: 10dvh;

    @media (min-width: 1024px) {
      &:hover {
        @include all.active-project-styles;
      }
    }

    // #region reversed

    &.reversed {
      @media (min-width: 1025px) {
        .project-immage-wrapper {
          grid-column: 2;
        }

        .project-content-wrapper {
          grid-column: 1;
          grid-row: 1;
          transform: translateX(0 200px);

          &:hover {
            transform: translateX(0);
            opacity: 1;
          }
        }

        &:hover {
          .project-immage-wrapper .arrow-icon {
            right: auto;
            left: calc(5% - 10px);
            transform: translate(-50%, -50%) rotate(120deg) scale(1.2);
          }
        }
      }

      .project-number {
        left: 0;
        right: auto;
      }

      .project-immage-wrapper {
        &::after {
          left: auto;
          right: calc(5% + 10px);
        }

        .arrow-icon {
          right: auto;
          left: calc(5% - 10px);
        }
      }
    }

    // #endregion reversed
  }
}

@keyframes rotateAndGrow {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(0.8);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-120deg) scale(1.2);
  }
}

.project-number {
  position: absolute;
  top: -20px;
  right: 0;
  font-size: clamp(24px, 3vw, 40px);
  font-weight: 700;
}

.project-immage-wrapper {
  width: 100%;
  height: 100%;
  @include all.flexi($ai: center, $jc: center);

  &::after {
    content: '';
    position: absolute;
    top: 10px;
    left: calc(5% + 10px);
    width: 90%;
    height: 100%;
    border: 4px solid var(--text-color);
    box-sizing: border-box;
    opacity: 0;
    transition:
      opacity 0.3s ease,
      border-color 0.3s ease;
    z-index: 1;
    border-radius: 24px;
    will-change: opacity;
  }

  @media (max-width: 1024px) {
    &.show {
      .project-picture {
        box-shadow: 0 0 20px var(--accent-color);
        filter: none;
      }

      .arrow-icon {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-120deg) scale(1.2);
      }

      &::after {
        opacity: 1;
      }

      :host-context(.reversed) &,
      .project.reversed & {
        .arrow-icon {
          transform: translate(-50%, -50%) rotate(120deg) scale(1.2);
        }
      }
    }
  }

  .project-picture {
    width: 90%;
    height: 100%;
    object-fit: cotain;
    border-radius: 24px;
    filter: grayscale(1);
    transition: filter 0.3s ease-in-out;
    z-index: 1;
  }

  .arrow-icon {
    width: clamp(24px, 7dvw, 48px);
    height: auto;
    aspect-ratio: 1 / 1;
    position: absolute;
    z-index: 2;
    top: calc(50% + 10px);
    left: calc(95% + 10px);
    transform: translate(-50%, -50%) rotate(0deg) scale(0.8);
    transition:
      transform 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
    opacity: 0;
    filter: drop-shadow(0 0 2px var(--accent-color));
  }
}

.project-content-wrapper {
  width: 100%;
  height: 100%;
  @include all.flexi($ai: center, $jc: center, $fd: column);
  padding-top: clamp(16px, 3dvw, 32px);
  transition:
    transform 0.4s ease-out,
    opacity 0.4s ease-out;
  transform: translateX(-200px);
  opacity: 0;

  @media (max-width: 1024px) {
    transform: none;
    transition:
      opacity 1.5s ease,
      translate 1.5s ease;
    translate: -50% 0;

    :host-context(.reversed) &,
    .project.reversed & {
      translate: 50% 0;
    }

    &.show,
    .project.reversed &.show {
      opacity: 1;
      translate: 0 0;
    }
  }
}

.project-details {
  @include all.flexi($fd: column, $ai: center);
  text-align: center;
  gap: clamp(12px, 2dvh, 24px);
  width: 100%;
  max-width: 550px;
}

.project-title {
  font-family: 'Syne Variable', sans-serif;
  font-size: clamp(32px, 4dvw, 56px);
  font-weight: 800;
}

.project-tech {
  color: var(--accent-color);
  font-weight: 800;
}

.project-buttons {
  display: flex;
  gap: 16px;
  margin-top: 8px;
  width: 100%;
  justify-content: center;

  .button-two {
    width: clamp(100px, 30dvw, 200px);

    &:hover {
      cursor: pointer;
      width: clamp(140px, 30dvw, 240px);
      font-weight: bold;
    }
  }
}

//#region Mediaquerries

@include all.notebook {
  .padding{
    padding-bottom: 0;
  }

  #projects .project {
    grid-template-columns: 1fr;
    gap: 32px;
    justify-items: center;
    align-items: center;
  }

  .project-immage-wrapper,
  .project-content-wrapper {
    width: 80%;
    aspect-ratio: auto;
  }

  .project-content-wrapper {
    min-height: 330px;
  }

  .project-number {
    top: -40px;
  }
}

//#endregion
