@use '../../../../public/assets/styles/all-styles.scss' as all;

#above-the-fold {
  scroll-margin-top: 150px;
}

section {
  width: 100%;
  @include all.flexi($fd: column);
  max-width: 1440px;
  min-height: 85dvh;
  text-align: center;
}

#head-line {
  width: 100%;
  text-align: center;
}

#name-container {
  @include all.flexi($ai: center, $gap: 16px);
  margin-bottom: clamp(0px, 5vmin, 60px);

  #underline {
    width: clamp(25px, 40.5vmin, 700px);
    height: clamp(2px, 0.4vmin, 4px);
  }

  > h3 {
    font-size: clamp(20px, 6vmin, 48px);
    color: var(--accent-color);
    white-space: nowrap;
    transition: color 0.5s ease-in-out;
  }
}

#mail-scroll {
  width: 100%;
  height: auto;
  padding: 48px 0px;
  @include all.flexi($ai: center, $jc: space-between);

  > div {
    font-size: 20px;
    text-align: center;
  }
}

#arrow {
  overflow: hidden;
}

#mail {
  width: 100px;
  height: 100%;
  text-wrap: nowrap;
  @include all.flexi();

  > a {
    position: absolute;
    right: -8px;
    display: inline-block;
    transform: rotate(-90deg);
  }
}

@keyframes arrowDown {
  0% {
    transform: translateY(-180px);
  }
  100% {
    transform: translateY(120px);
  }
}

.arrowDown {
  animation: arrowDown 2s infinite;
}

// #region mediaquerrys

@include all.notebook {
  section #name > h3 {
    font-size: 36px;
  }
}

@include all.tablet {
  h1 {
    padding-top: 48px;
  }

  section #name > h3 {
    font-size: 28px;
  }
}

@include all.mobile {
  section #head-line {
    width: 100%;
  }

  section #name > h3 {
    font-size: 18px;
  }
}

// #endregion
