<main class="structure">
  <section class="padding">
    <div id="arrow-wrapper">
      <a href="#my-skills">
        <img class="moveToLeft icon-color-theme" src="assets/icons/arrow-down-left.png" alt="" />
      </a>
    </div>
    <section id="skills-section">
      <div id="my-skills-headline">
        <h2 id="my-skills">{{ 'my-skills.headline' | translate }}</h2>
      </div>

      @for (skill of skills; track skill.name) {
        <div class="skill-icon">
          <img
            class="loopImage"
            [class.is-animating]="skill.isAnimating"
            (mouseenter)="skill.isAnimating = true"
            (animationend)="skill.isAnimating = false"
            src="{{ skill.icon }}"
            alt="{{ skill.name }}"
          />
          <p>{{ skill.name }}</p>
        </div>
      }

      <div id="education">
        <div id="education-wraper">
          <img
            class="loopImage"
            [class.is-animating]="isAnimEducation"
            (mouseenter)="isAnimEducation = true"
            (animationend)="isAnimEducation = false"
            src="assets/icons/education.png"
            alt="Rest-Api-Icon"
          />
        </div>
        <p>
          {{ 'my-skills.description-one' | translate }}
          <a class="slide-underline" href="#say-hi" id="contact-me">{{
            'my-skills.contact-me' | translate
          }}</a>
          {{ 'my-skills.description-two' | translate }}
        </p>
      </div>
    </section>
  </section>
</main>
