
//#region Color Scheme & Theme Switch Animations

@keyframes switchToLightMode {
  100% {
    --bg-color-1: #f1f5f9;
    --bg-color-2: #e2e8f0;
    --bg-color-3: #cbd5e1;
    --bg-color-4: #94a3b8;
    --text-color: #0f172a;
    --accent-color: #00bc8f;
    --icon-filter: none;
    --accent-icon-filter: invert(64%) sepia(78%) saturate(3700%) hue-rotate(127deg) brightness(92%) contrast(101%);
  }
}

//#endregion

//#region Keyframes and Classes

@keyframes moveToLeft {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-25px, 25px);
  }
}

.moveToLeft {
  animation-name: moveToLeft; 
  animation-duration: 3s; 
  animation-iteration-count: infinite;
}

@keyframes slideUnderline {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: lighter;

  &::after {
    content: '';
    position: absolute;
    left: 65%;
    bottom: -2px;
    width: 35%;
    height: 2px;
    background-color: var(--accent-color);
    opacity: 0;
  }

  &:hover {
    &::after {
      animation: slideUnderline 0.2s ease-out forwards;
    }
  }
}

//#endregion