@mixin flexi($jc: center, $fd: row, $ai: center, $gap: 0) {
  display: flex;
  justify-content: $jc;
  flex-direction: $fd;
  align-items: $ai;
  gap: $gap;
}

//#region CSS Custom Properties and Background-Mixin

@property --bg-color-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: #334155;
}
@property --bg-color-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: #1e293b;
}
@property --bg-color-3 {
  syntax: '<color>';
  inherits: false;
  initial-value: #0f172a;
}
@property --bg-color-4 {
  syntax: '<color>';
  inherits: false;
  initial-value: #030712;
}
@property --text-color {
  syntax: '<color>';
  inherits: true;
  initial-value: #f8fafc;
}
@property --accent-color {
  syntax: '<color>';
  inherits: true;
  initial-value: #ff31dc;
}
@property --icon-filter {
  syntax: '*';
  inherits: true;
  initial-value: invert(100%) sepia(0%) saturate(2115%) hue-rotate(328deg) brightness(100%)
    contrast(100%);
}
@property --accent-icon-filter {
  syntax: '*';
  inherits: true;
  initial-value: invert(40%) sepia(53%) saturate(6824%) hue-rotate(292deg) brightness(107%) contrast(101%);
}

@mixin liquid-background {
  --icon-filter: invert(100%) sepia(0%) saturate(2115%) hue-rotate(328deg) brightness(100%)
    contrast(100%);
  background: radial-gradient(
    circle at center,
    var(--bg-color-1) 0%,
    var(--bg-color-2) 25%,
    var(--bg-color-3) 60%,
    var(--bg-color-4) 100%
  );
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: liquidGlow 15s ease-in-out infinite alternate;
  transition:
    --bg-color-1 3s ease-in-out,
    --bg-color-2 3s ease-in-out,
    --bg-color-3 3s ease-in-out,
    --bg-color-4 3s ease-in-out,
    --text-color 0.5s ease-in-out,
    --accent-color 0.5s ease-in-out;

  &.light-theme-active {
    --bg-color-1: #f1f5f9;
    --bg-color-2: #e2e8f0;
    --bg-color-3: #cbd5e1;
    --bg-color-4: #94a3b8;
    --text-color: #0f172a;
    --accent-color: #00bc8f;
    --icon-filter: none;
    --accent-icon-filter: invert(64%) sepia(78%) saturate(3700%) hue-rotate(127deg) brightness(92%) contrast(101%);
  }
}

//#endregion
