@use './../public/assets/styles/all-styles.scss' as all;

* {
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: inherit;
  color: white;
  font-family: inherit;
  background-color: inherit;
}

#body {
  display: grid;
  grid-template-rows: 250px 1fr 250px;
  width: 100%;
  min-height: 100dvh;
  @include all.liquid-background;
}

@keyframes liquidGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 100%;
  }
}
